@model PaymentAccept

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-4 d-flex justify-content-center">
    <form asp-action="PaymentAccept" method="post">
        <h1 class="text-center">يرجى ادخال بطاقه الدفع لإعتمادها</h1>
    <div class="row ">
        <div class="col">
                <label for="PaymentAccept"></label>
            <input type="text" asp-for="@Model.payment" class="for-control"  />
            
        </div>
    </div>
        <span class="text-danger" asp-validation-for="@Model.payment"></span>
    <div class="row mt-5">
            <div class="col-sm-3">
            <div class="col-sm-9">
                </div>
                <button type="submit" class="btn btn-primary">حفظ</button>
            </div>
    </div>
    </form>
</div>